<html lang="en"><head>
    <meta charset="utf-8">
    <title>Walk the Vote - Early in-person voting made easy!</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-147602341-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-147602341-1');
    </script>


    <meta name="author" content="WalkTheVote">
    <meta name="description" content="Walk the Vote is an effort to help ensure people can hand-deliver their ballots to their local election offices. Use our app to look up where you need to go in less than 5 seconds. Beat the stress of worrying about the USPS or COVID-19 on Election Day, and let us help you Walk the Vote!">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Walk The Vote - Early in-person voting made easy!">
    <meta property="og:image" content="https://scontent.xx.fbcdn.net/v/t1.0-9/121640460_118622423345805_8953910052293584880_o.png?_nc_cat=107&amp;_nc_sid=dd9801&amp;_nc_ohc=H5eZE1HSa_MAX8sC3MJ&amp;_nc_ht=scontent.xx&amp;_nc_log=1&amp;oh=cfed1b7ad7c07bc6f9419e49943d77da&amp;oe=5FAFD52E">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Walk The Vote - Early in-person voting made easy!">
    <meta name="twitter:description" content="Walk the Vote is an effort to help ensure people can hand-deliver their ballots to their local election offices. Use our app to look up where you need to go in less than 5 seconds. Beat the stress of worrying about the USPS or COVID-19 on Election Day, and let us help you Walk the Vote!">
    <meta name="twitter:image" content="https://scontent.xx.fbcdn.net/v/t1.0-9/121640460_118622423345805_8953910052293584880_o.png?_nc_cat=107&amp;_nc_sid=dd9801&amp;_nc_ohc=H5eZE1HSa_MAX8sC3MJ&amp;_nc_ht=scontent.xx&amp;_nc_log=1&amp;oh=cfed1b7ad7c07bc6f9419e49943d77da&amp;oe=5FAFD52E">

    <link href="css/styles.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/electionSaver.js"></script>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- Custom Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/35e6ed282f.js" crossorigin="anonymous"></script><link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all" rel="stylesheet"><link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all" rel="stylesheet"><link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet">

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js')
        fbq('init', '2165396940376815'); 
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" 
        src="https://www.facebook.com/tr?id=2165396940376815&ev=PageView
        &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

</head>
<body>
    <header>
        <nav role="navigation">
            <div id="menuToggle">
                <div>
                    <input type="checkbox"/>
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu">
                        <li><a class="mobile-a" href="/">Home</a></li>
                        <li><a class="mobile-a" href="/faq">FAQ</a></li>
                        <li><a class="mobile-a" href="/team">Team</a></li>
                        <li><a class="mobile-a" href="/maps">Maps</a></li>
                    </ul>
                </div>   
            </div>
        </nav>
        <div class="header-wrapper">
            <div class="nav-bar">
                <div class="bruh"><a href="/">HOME</a></div>                
                <div class="bruh"><a href="/faq">FAQ</a></div>
                <h1 class="wtv-header">
                    Walk The <span class="master-container-header"> Vote</span>
                </h1>
                <div class="bruh"><a class="active-link" href="/team">TEAM</a></div>
                <div class="bruh"><a href="/maps">MAPS</a></div>
            </div>
            <h1 class="wtv-header mobile">
                Walk The <span class="master-container-header"> Vote</span>
            </h1>
            <h2 class="wtv-subheader">
                ... Into the 2024 Election! 
            </h2>
        </div>
    </header>
    <div class="master-container">
        <h1 class="faq-wrapper">
            Meet the Walk the Vote team!
        </h1>
        <div class="bio-wrapper">
            <div class="individual-bio">
                <img src="images/bioPics/paulo.jpg">
                <div class="caption">Paulo Nascimento, Founder</div>
                <div class="wtv-member-title">Lead | Web Developer</div>
                <div class="subtitle">Paulo was born in São Paulo (no relation) but grew up in Miami. He now lives in San Francisco but deeply misses Aloha Poke in Chicago. His latest obsessions are Fall Guys and visiting all 62 US National Parks.</div>
            </div>
            <div class="individual-bio">
                <img src="images/bioPics/omar.jpg">
                <div class="caption">Omar Taylor, Founder</div>
                <div class="wtv-member-title">Lead | Engineer</div>
                <div class="subtitle">Omar also hails from South Florida, and now resides in the Midwest. Omar enjoys weightlifting, cooking, the outdoors, and making a difference in the community. He also mains Sonic in Smash Bros Ultimate.</div>
            </div>
            <div class="individual-bio">
                <img src="images/bioPics/riya.jpg">
                <div class="caption">Riya Agarwal</div>
                <div class="wtv-member-title">Lead | Engineer/Designer</div>
                <div class="subtitle">Riya grew up in Singapore and moved to Chicago for college. She currently lives in San Francisco for its proximity to nature. In her spare time, she plays classical piano, rollerblades, and orders copious amounts of sweetgreen.</div>
            </div>
            <div class="individual-bio">
                <img src="images/bioPics/rohan.jpg">
                <div class="caption">Rohan Batra</div>
                <div class="wtv-member-title">Developer</div>
                <div class="subtitle">Another Broward boy, Rohan did a West Coast tour of LA and Seattle before returning to SFL. His hobbies include chasing diamond in League, drinking craft beers, and pogging the vote.</div>
            </div>
            <div class="individual-bio">
                <img src="images/bioPics/leo.jpg">
                <div class="caption">Leonardo Restrepo</div>
                <div class="wtv-member-title">Marketing/Developer</div>
                <div class="subtitle">Leo grew up in the Orlando area and has since lived in both Chicago and New York. Leo runs every day, makes a bomb risotto, and wishes he could've scraped websites in R instead of Python.</div>
            </div>
            <div class="individual-bio">
                <img src="images/bioPics/abesari.jpg">
                <div class="caption">Abesari Aaron</div>
                <div class="wtv-member-title">Developer</div>
                <div class="subtitle">Abesari hails from Fairfax, VA and also went to school in Chicago. He spent a year in Dubai before returning stateside. He enjoys eating pistachio ice cream and plays Smash Bros Melee competitively.</div>
            </div>
            <div class="individual-bio">
                <img src="images/bioPics/toby.jpg">
                <div class="caption">Toby</div>
                <div class="wtv-member-title">Cat</div>
                <div class="subtitle">Alias: Tobias Bryant Hermione Raj Nickmiller Funke. He is extremely cute and never shy to give headbutts and belly flops. Among his interests are McDonald's french fries, cheese, catnip, and cardboard boxes.</div>
            </div>
        </div>
        <div class="extra-wrapper">
            <h3 class="faq-wrapper">Additional thanks to</h3>
            <ul class="addl-thx">
                <li><span class="caption">Joe Roddy</span> <span class="wtv-member-title">Developer</span></li>
                <li><span class="caption">Marissa Montoya</span> <span class="wtv-member-title">Outreach/Marketing</span></li>
            </ul>
        </div>
    </div>
    <footer> 
        <!-- <h2 class="wtv-footer-sub">Walk the Vote</h2> -->
        <div class="footer-class">
            <div class="states-supported">
                <div class="currently-supported-header">States Currently Supported</div>
                <ul class="states-supported-list"></ul>
            </div>
            <hr>
            <div class="socials">
                <div class="individual-social mobile-hidden">Like us!</div>
                <div class="individual-social big-icon">
                    <a href="http://facebook.com/walkthevote.us/">
                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    </a>
                </div>
                <li class="individual-social"></li>
                <div class="individual-social mobile-hidden">Follow us!</div>
                <div class="individual-social big-icon">
                    <a href="https://www.instagram.com/walkthevote.us/">
                        <i class="fab fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <li class="individual-social"></li>
                <div class="individual-social mobile-hidden">Tweet us!</div>
                <div class="individual-social big-icon">
                    <a href="https://twitter.com/walk_the_vote">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                    </a>
                </div>
                <li class="individual-social"></li>
                <div class="individual-social mobile-hidden">Questions? Email us!</div>
                <div class="individual-social big-icon">
                    <a href="mailto:info@walkthevote.us">
                        <i class="far fa-envelope" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>


</body><style type="text/css"></style></html>