body {
  /*background-color: #F0EAD6 !important;*/
  background-color: #E6e6fa !important;
}

.master-container {
  padding: 10px 25px;
  width: 50%;
  margin: 0 auto;
  margin-top: 0px;
  background-color: white;
  /* margin-top: 25px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 275px;
}

.wtv-header {
  text-align:center;
  font-family: 'Roboto', sans-serif;
  color: black;  
  font-size: 72px;
  font-weight:bold;
  /* padding: 25px;   */
}

.wtv-subsubheader {
  font-size: 16px;
  width: 58%;
  text-align:center;
}

.wtv-zip-wrapper {
  margin-top:50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=number] {
    -moz-appearance: textfield;
}

input {
  outline: 0;
  border-width:0 0 2px;
  border-color: gray;
  font-size: 60px !important;
  width: 80px;
  /* background-color: #F0eAD6; */
  background-color: transparent;
  padding-left: 25px;
  margin: 0 10px !important;
}

.btn-wrapper {
  padding: 20px;
}

.btn-wrapper .btn {
  margin: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wtv-loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 50px auto;
  display:none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.wtv-results-wrapper {
  width: 36rem; 
  margin: 75px auto;
}

.wtv-results-wrapper.hidden {
  display:none;
}

.county-name-wrapper {
  width: auto;
  margin: 0 auto;
  padding-top: 20px;
  color: #6c757d;
}

.county-name {
  font-weight: bold;
  font-size: 24px;
  color: black;
}

.results {
  font-size:16px;
  padding-left:23%;
}

.individual-result {
  display: flex;
  justify-content: space-around;
}

.contact-header {
  font-weight: bold;
}
