body {
  /*background-color: #F0EAD6 !important;*/
  background-color: #20272e !important;
  overflow-x: hidden;
  overflow-y: scroll;
}

.master-container a {
  color: #4fa6ab !important; 
}

.master-container a:hover, a:active, a:focus {
  color: #3e8286 !important;
}

/*
 * ===============================================
 * ===============================================
 *                  Navigation
 * ===============================================
 * ===============================================
 */

nav {
  display: none !important;
  height: 65px;
  /* background-color: #4fa6ab; */
}

.nav-bar {
  padding-top:20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-bar .bruh a.active-link {
  border-bottom: 5px solid #4fa6ab;
}

.nav-bar .bruh a {
  color: white !important;
  border-bottom: 3px solid gray;
  /* border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-top: 3px solid transparent; */
  padding-left: 5px;
  padding-right: 5px;
  /* border-radius: 5px; */
}

.nav-bar .bruh a:hover, a:active, a:focus {
  color: white !important;
  text-decoration: none !important;
  /* background-color: #4fa6ab; */
  /* border-right: 3px solid #4fa6ab;
  border-top: 3px solid #4fa6ab; */
  transition: border .3s ease-in;
  border-bottom: 5px solid #4fa6ab;
  /* transition: background-color .5s ease-in; */
  /* border-left: 3px solid #4fa6ab;
  border-radius: 5px; */
}

.bruh {
  font-size: 1.75rem;
  color: white;
  font-weight: bold;
}

a.mobile-a {
  text-decoration: none;
  color: white;
  opacity:1;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;
  font-family: 'Poppins';
}

a.mobile-a:hover {
  opacity:0.5;
}

#menu {
  padding: 0;
  list-style-type: none;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: fixed;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: white;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  display: flex;
  flex-direction: column;
  background-color: #539Fa6 !important;
  position: fixed;
  width: 60%;
  min-height: 800px;
  box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 60px;
  border-right:2px solid #85888c;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.mobile-title-wrapper {
  width: 100%;
}

.mobile-title {
  color: white;
  font-family: 'Poppins';
  font-size: 26px;
}

.wtv-header.mobile {
  display: none;
}

.logo-img {
  height: 115px;
  margin-top: -40px;
}

/*
 * ===============================================
 * ===============================================
 *                  Footer
 * ===============================================
 * ===============================================
 */

footer a {
  color: white;
}

footer a:hover, a:active, a:focus {
  color: white;
}

footer {
  background-color: #4fa6ab;
  padding: 50px;
  text-align: center;
  color: white;
  margin-top:50px;
}

/*
 * ===============================================
 * ===============================================
 *                   Body
 * ===============================================
 * ===============================================
 */

.master-container {
  padding: 10px 25px;
  margin: 0 auto;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2e1114;
}

.wtv-header {
  text-align:center;
  font-family: 'Poppins', sans-serif;
  color: white; 
  font-size: 7vw;
  font-weight:200;
}

.master-container-header {
  color: #4fa6ab;
  display: inline !important;
  background: transparent !important;
}

.wtv-subheader {
  font-weight:bold;
  color: #4fa6ab;
  text-align: center;
  margin-top: -30px;
}

.wtv-footer-sub {
  font-weight: bold;
  color: white;
  padding-bottom: 30px;
}

.wtv-subsubheader.text-muted {
  font-size: 16px;
  width: 60%;
  text-align:center;
  color: white !important;
}

.wtv-zip-wrapper {
  margin-top:50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=number] {
    -moz-appearance: textfield;
}

input {
  outline: 0;
  border-width:0 0 2px;
  border-color: gray;
  font-size: 60px !important;
  width: 80px;
  /* background-color: #F0eAD6; */
  background-color: transparent;
  padding-left: 25px;
  margin: 0 10px !important;
  color: white;
}

.btn-wrapper {
  padding: 20px;
}

.btn-wrapper .btn {
  margin: 5px;
  background-color: transparent;
  border-color: #539FA6;
}

.btn-wrapper .btn:hover {
  margin: 5px;
  background-color: #539FA6 !important;
  border-color: #539FA6 !important;
}

.btn-wrapper .btn:active {
  margin: 5px;
  background-color: #539FA6 !important;
  border-color: #539FA6 !important;
}

.btn-wrapper .btn:focus {
  margin: 5px;
  background-color: #539FA6 !important;
  border-color: #539FA6 !important;
  box-shadow: 0 0 0 .2rem rgba(124,166,160,.5) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wtv-loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #4fa6ab; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 50px auto;
  display:none;
}

.bruh {
  font-size: 1.75rem;
  color: white;
  border-bottom: 3px solid #46afab;
  font-weight: bold;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.wtv-results-wrapper {
  width: 45rem; 
  margin: 75px auto 30px auto;
}

.wtv-results-wrapper .card-header{
  border-bottom: 2px solid #7ca6a0;
  background-color: white;
}

.hidden {
  display:none !important;
}

.county-name-wrapper {
  width: auto;
  margin: 0 auto;
  padding-top: 20px;
  color: #6c757d;
}

.county-name {
  font-weight: bold;
  font-size: 24px;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.results {
  font-size:16px;
  padding-left:23%;
}

.individual-result {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.below-results-note {
  color: #d3d3d3;
  width: 40%;
  text-align:center;
  font-size:13px;
}

.contact-header {
  font-weight: bold;
}

.step {
  color: white;
}

.footer-class {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.currently-supported-header {
  font-weight: bold;
  padding-bottom:20px;
  font-size:24px;
}

ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;  
  column-gap:30px;
}

.middle-line {
  width:1px;
  height:200px;
  border-left: 1px solid white;
  padding-left: 30px;
  padding-right: 30px;
}

li {
  text-align:left;
}

.socials {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}

hr {
  border-top: 1px solid white !important;
  width: 485px;
}

div.individual-social {
  padding-left: 5px;
  padding-right: 5px;
}

li.individual-social {
  margin-left: 15px;
  margin-right: 10px;
}

.faq-wrapper {
  color: white;
  font-size: 36px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.questions-wrapper {
  width: 80%;
}

.question {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #4fa6ab;
  font-size: 24px;
}

.answer {
  color: white;
  padding-bottom: 30px;
  font-size: 20px;
}

.ribbon-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.ribbon {
  background-color: #4fa6ab; 
  color: white;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  top: 37px;
  left: 44px;
}

.ribbon a {
  color: white;
}

.ribbon a:focus, a:active, a:hover {
  color: #ccc !important;
  text-decoration: none !important;
}

/*
 * ===============================================
 * ===============================================
 *                  Mobile styles
 * ===============================================
 * ===============================================
 */

@media (min-width: 577px) {
  #zipmobile {
    display:none;
  } 
}

@media (max-width: 576px) { 
  .wtv-header {
    line-height: 100px;
    padding-top: 45px;
    padding-bottom: 15px;
  }

  .wtv-subsubheader.text-muted {
    font-size: 26px;
    width: 97%;
    padding-top: 40px;
  }

  #zip1, #zip2, #zip3, #zip4, #zip5 {
    display: none;
  }
  
  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;  
  }

  #menu {
    width: 40%;
  }

  hr {
    width: 96%;
  }

  /* .socials {
    flex-direction: column;
  } */

  /* .mobile-hidden {
    display: none;
  }

  .big-icon {
    font-size: 36px;
  }

  div.individual-social {
    padding-left: 20px;
    padding-right: 20px;
  } */
}

@media (max-width: 768px) {
  nav {
    display: block !important;
  }

  .nav-bar {
    display: none !important;
  }

  #menu {
    width: 50%;
  }

  .bruh {
    display: none;
  }
  .wtv-header {
    line-height: 118px;
    font-size: 10vw;
  }

  .wtv-header.mobile {
    display: block;
    margin-top: -50px;
  }

  .wtv-subsubheader.text-muted {
    font-size: 20px;
    width: 97%;
    padding-top: 20px;
  }

  .wtv-zip-wrapper {
    margin-top: 0px;
    width: 100%;
    padding-top: 30px;
  }

  .faq-wrapper {
    font-size: 28px;
  }

  input {
    width: 38px;
    padding-left: 0;
    text-align: center;
  }

  .btn-wrapper {
    width: 100%;
    padding-top: 44px;
    display: flex;
  }

  .btn-wrapper .btn {
    font-size: 24px;
    width: 100%;
  }

  .wtv-results-wrapper {
    width: 100%;
  }

  #zipmobile {
    width: 93%;
  }

  .county-name-wrapper {
    width: 58%;
    text-align:center;
  }

  .individual-result {
    flex-direction: column;
  }

  .address-wrapper {
    padding-bottom: 20px;
  }

  /* .socials {
    flex-direction: column;
  } */

  .socials >  li {
    display: none;
  }

  .below-results-note {
    width: 95%;
  }

  .mobile-hidden {
    display: none;
  }

  .big-icon {
    font-size: 36px;
  }

  div.individual-social {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media(max-width: 840px) {
  h1.wtv-header {
    /* font-size:50px !important; */
    padding-bottom: 20px;
  }

  .wtv-subheader {
    font-size: 25px;
  }
}

@media(max-width: 980px) {
  .wtv-header {
    /* font-size: 65px !important; */
    padding-bottom: 10px;
  }
  .bruh {
    font-size: 1.5rem;
  }
}

@media(max-width: 1187px) {
  .wtv-header {
    /* font-size: 80px; */
  }
}
